meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1')

meta(name='author' content='Jeremy Keeler')
meta(name='description' content='Taylor\'s Chapel is an historic chapel in Baltimore\'s suburbs. It is a true historical gem constructed in the mid 19th century with stone walls covered in stucco.')

title Taylor's Chapel
link(rel='stylesheet' type='text/css' href=manifest['bundle.css'])
link(rel='icon' href=manifest['img/favicon.png'])

//- script(type='text/javascript' src=manifest['runtime.js'])
script(async type='text/javascript' src=manifest['bundle.js'])
//- script(async src='https://www.googletagmanager.com/gtag/js?id=UA-67843411-2"')
