nav(class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation")
  .container
    .navbar-brand
      a(class="navbar-item" href="/") TC

      button(class="button navbar-burger" data-target="navMenu")
        span
        span
        span

    div(class="navbar-menu" id="navMenu")
      .navbar-end
        //- a(class="navbar-item" href="#events") Events
        a(class="navbar-item" href="/#history") History
        a(class="navbar-item" href="/#location") Location
        a(class="navbar-item" href="/#contact") Contact
        a(class="navbar-item" href="/gallery") Gallery
        a(class="navbar-item" href="/special") Special Events
        div.navbar-item
          div.field.is-grouped
            p.control
              <a class="button is-success donate-button" href="/donate">
                <span class="icon">
                  <i class="fa fa-star"></i>
                </span> Donate!
              </a>
