extends layout.pug

block content
  section#donate.page-section
    .container
      h4.title.is-3 Donations
      p We appreciate donations!  We are constantly working to maintain this aged building, its art and architecture, the church ground and the cemetery markers.  We depend on our friends to help us with this effort.  Please send your tax deductible donation via check made out to "Taylor's Chapel" to our treasurer, Mrs.  Kristine Amendt; 16 Linwen Way; Baltimore, MD 21236

      p Tax exempt number  82-2407488.
