doctype html
html(class="has-navbar-fixed-top")
  head
    include partials/header.pug
  body
    include partials/navbar.pug
    block content
    include partials/footer.pug
    script
      include partials/analytics.js
